
       <!-- Login form -->
	<div id="content">
  <div class="container"> 
	    <!-- main page -->     
			<p>There are so many blogs and sites publishing high quality 
			CSS and JavaScript tutorials these days that it can be hard 
			to keep track - and it's easy to miss an amazing tutorial completely. 
			And sod's law dictates that the one you do miss will be the 
			one that could have saved you days of work on your latest project...</p>   
		
	    <!-- SEARCH BUTTON -->	   
		   
<section class="main">
	 <form class="search" method="post" action="/main" >
		 <input type="text" name="q" placeholder="Search..." />
		 <ul class="results" >
		 	<% Courses.all.each do |course| %>
			 <li><%= link_to course.name %></li>
			 <% end %>
			 
		 </ul>
	 </form>
</section>
</div>
</div>

	    <!-- SEARCH BUTTON -->	 
		
		
<div id="div1">


		<div class="dropdown">
 <button class="btn btn-info" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Drop Down 1
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	<div class="dropdown">
    <% Courses.all.each do |course| %>
			 <li><%= link_to course.name %></li>
			 <% end %>
    
  </ul>
</div>
        </div>

		
		
<div id="div2">		

         <div class="dropdown">
 <button class="btn btn-info" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Drop Down 1
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	<div class="dropdown">
		<% Courses.all.each do |course| %>
			 <li><%= link_to course.name %></li>
			 <% end %>
    
  </ul>
</div>
</div>
